@import "./reset.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./mixins.scss";

.sidenav-content {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 88px 3rem 2rem;
}

html {
  font-size: 62.5%;
}

body {
  @include font-size(14)
}

@for $i from 1 through 6 {
  h#{$i} {
    @include font-size(24 - ($i - 1) * 2)
  }
}

@import "./theme.scss";