<mat-toolbar
    fxLayout="row"
    fxLayoutAlign="space-between center"
    color="primary">
  <section>
    <span>My Application</span>
  </section>
  <nav>
    <a routerLink="/" routerLinkActive="active" mat-button>
      Home
    </a>
    <a *ngIf="!isLoggedIn()" routerLink="/auth" routerLinkActive="active" mat-button>
      Sign In
    </a>
    <ng-template [ngIf]="isLoggedIn()">
      <a routerLink="/profile" routerLinkActive="active" mat-button>
        Profile
      </a>
      <a routerLink="/auth/signout" routerLinkActive="active" mat-button>
        Sign Out
      </a>
    </ng-template>
  </nav>
</mat-toolbar>