<mat-card class="social-container">
  <mat-card-header>
    <mat-card-title>Sign In</mat-card-title>
    <mat-card-subtitle>Sign In using a Social Media Account</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button type="button" mat-flat-button class="google" fxLayout="row" fxLayoutAlign="center center">
      <fa-icon [icon]="['fab', 'google-plus-g']" size="lg"></fa-icon>
      <span>Google+</span>
    </button>
    <button type="button" mat-flat-button class="facebook" fxLayout="row" fxLayoutAlign="center center">
      <fa-icon [icon]="['fab', 'facebook-f']" size="lg"></fa-icon>
      <span>Facebook</span>
    </button>
    <button type="button" mat-flat-button class="twitter" fxLayout="row" fxLayoutAlign="center center">
      <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
      <span>Twitter</span>
    </button>
    <button type="button" mat-flat-button class="vkontakte" fxLayout="row" fxLayoutAlign="center center">
      <fa-icon [icon]="['fab', 'vk']" size="lg"></fa-icon>
      <span>Vkontakte</span>
    </button>
  </mat-card-content>
</mat-card>
